<header class="ray-page-container ray-page-container--justify-center kodin-header">
    <div class="ray-grid">
        <div class="ray-grid__cell ray-grid__cell--span-4-desktop ray-grid__cell--span-5-tablet ray-grid__cell--span-4-phone">
            <button class="kodin-hamburger ray-link">☰</button>
            {% include logo.html %}
        </div>
        <div class="ray-grid__cell ray-grid__cell--span-3-desktop ray-grid__cell--span-3-tablet kodin-top-nav">
            {%- for page in site.pages -%}
                {%- if page.title -%}
                    <a class="ray-button ray-button--secondary ray-button--compact" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
                {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
</header>
