<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%- seo -%}

    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">

    {% asset vendor.scss %}
    {% asset kodin.scss %}

    {%- feed_meta -%}

    {%- include google-analytics.html -%}

    {% asset hamburger.js defer %}
</head>
